/* service start  */
.service {
  background-color: #012f34;
}
.service-container {
  display: flex;
  padding-top: 140px;
  padding-bottom: 14px;
}

.orange-divider {
  width: 50px;
  height: 4px;
 
}

.service-title {
  color: #ffffff;
  font-size: 48px;
  line-height: 48px;
  width: 445px;
  height: 144px;
  padding-right: 125px;
}

.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.service-item-title {
  color: #f67e7e;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
}

.service-description {
  color: #ffffff;
}
/* service end */
